@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/*ANA SAYFA*/
body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color: #252a30;
}

.offset:before {
  display: block;
  content: "";
  height: fit-content;
  margin-top: -4rem;
}
/*Navigasyon*/
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6) !important;
}

.navbar-brand img {
  height: 2.5rem;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .navbar-link {
  color: white;
  padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .navbar-link.active,
.navbar-dark .navbar-nav .navbar-link:hover {
  color: #1ebba3;
}

.dropdown-menu {
  color: #252a30;
}

.dropdown-item {
  color: black;
}
/* Ana Sayfa */

.home-inner {
  background-image: url(img/Borobudur.jpg);
  height: 120vh;
  width: 250vh;
}

.caption {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 40%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.3rem;
  font-size: 1.1rem;
}

/*Hakkimda*/
.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem; /*2rem idi*/
  padding-bottom: 2rem;
}

.narrow h3 {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.hakkimda img {
  width: 200px;
  border-radius: 50%;
}

/* ozgecmis */
.jumbotron {
  margin-bottom: 0;
  padding-top: 2rem 0 2rem;
  border-radius: 0;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.heading-underline {
  width: 3rem;
  height: 0.2rem;
  background-color: #1794ce;
  margin: 0 auto 2rem;
}

.ozgecmisim p {
  font-size: 1.5rem;
}

/* Memleketim */
.fixed-background {
  background-image: url(img/borobudur1.jpg);
  z-index: -1;
  padding-bottom: 3rem;
}

.dark {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 7rem 2rem;
}

.fixed-background h3 {
  margin-bottom: 2rem;
}

.fixed-background p {
  margin-top: 1.5rem;
}

.menu {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.menu:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

/*Iletisim*/
footer {
  background-color: #252a30;
  color: white;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

footer img {
  height: 3rem;
  margin: 1.5rem 0;
}

footer a {
  color: white;
}

hr.socket {
  width: 100%;
  border-top: 0.2rem solid #666b71;
  margin-top: 1rem;
}

@media (max-width: 767px) {
  .caption h1 {
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    padding-bottom: 0.2rem;
  }
  .caption h3 {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
  .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  .narrow p {
    font-size: 0.9rem;
  }
}
/* SON ANA SAYFA*/

/* OTURUM/LOGİN SAYFASI*/
.login-body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background: url(img/borobudur1.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.loginbox {
  width: 320px;
  height: 490px;
  border-radius: 20px;
  background: rgba(22, 21, 21, 0.815);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-title {
  margin: 0;
  padding: 0 0 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="email"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: white;
  font-size: 16px;
}

.loginbox button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  width: 15rem;
  background: #fb2525;
  color: white;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox button:hover {
  cursor: pointer;
  background: #e24c27;
  color: black;
}

.loginbox a {
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: darkgrey;
}

.loginbox a:hover {
  cursor: pointer;
  color: #fff;
}

.error {
  background: #f2dede;
  color: #a94442;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
  text-align: center;
}

.home-php h1 {
  text-align: center;
  color: #fff;
}

.home-php a {
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: white;
  font-size: 18px;
  border-radius: 20px;
}

.home-php a:hover {
  cursor: pointer;
  background: #e24c27;
  color: black;
}

/* SON OTURUM SAYFASI*/

/* ÖZGEÇMİŞ SAYFASI*/
.narrow-ozgecmis {
  width: 90%;
  margin: 1.5rem auto;
  padding-top: 2rem; /*2rem idi*/
  padding-bottom: 2rem;
}

.ozgecmis-header {
  background-image: url(img/borobudur1.jpg);
  color: white;
  margin-top: 4rem;
  padding: 3rem 3rem;
  text-transform: uppercase;
}

.ozgecmis {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

.tum-ozgecmis > h1,
.ozgecmis {
  margin: 10px;
  padding: 5px;
}

.ozgecmis {
  background: white;
}

.ozgecmis p {
  margin: 4px;
  font-size: 90%;
}
/*SON OZGECMIS SAYFASI*/

/*SEHIR SAYFASI*/
.row-sehir::after {
  content: "";
  clear: both;
  display: table;
}

html {
  font-family: "Lato", sans-serif;
}

.sehir-header {
  background-image: url(img/borobudur1.jpg);
  color: white;
  margin-top: 4rem;
  padding: 3rem 3rem;
  text-transform: uppercase;
}

.sehir-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sehir-menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #4fa9c0;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.sehir-menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #4fa9c0;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
/* telefonlar için: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* Tabletler için: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* PCler için: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
/*SON SEHIR SAYFASI*/

/*MIRAS SAYFASI*/
.row-miras::after {
  content: "";
  clear: both;
  display: table;
}

html {
  font-family: "Lato", sans-serif;
}

.miras-header {
  background-image: url(img/borobudur1.jpg);
  color: white;
  margin-top: 4rem;
  padding: 3rem 3rem;
  text-transform: uppercase;
}

.miras-img {
  width: 20rem;
  margin: 0.5rem 2rem 0.5rem 0;
}

.miras-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.miras-menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #4fa9c0;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.miras-menu li:hover {
  background-color: #0099cc;
}
/*SON MIRAS SAYFASI*/

/*İLGİ ALANLARIM SAYFASI*/
.narrow-ilgi-alanlarim {
  width: 90%;
  margin: 1.5rem auto;
  padding-top: 2rem; /*2rem idi*/
  padding-bottom: 2rem;
}

.ilgi-alanlarim-header {
  background-image: url(img/borobudur1.jpg);
  color: white;
  margin-top: 4rem;
  padding: 3rem 3rem;
  text-transform: uppercase;
}

.ilgi-alanlarim {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

.tum-ilgi-alanlarim > h1,
.ilgi-alanlarim {
  margin: 10px;
  padding: 5px;
}

.ilgi-alanlarim h1 {
  text-align: center;
}

.ilgi-alanlarim {
  background: white;
}

.ilgi-alanlarim p {
  margin: 1.5rem;
  font-size: 1.2rem;
  text-align: center;
}
.results {
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
  background-color: #76d2e988;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 350px;
  width: 300px;
}

.result img {
  object-fit: cover;
  width: 80px;
}

.animal-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #479cec;
  border: 0;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  width: 80px;
}

button:active {
  transform: scale(0.98);
}

button:focus {
  outline: none;
}

.container-anime {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.form-inline {
  justify-content: center;
}

.kemicofa-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  justify-content: stretch;
}

.kemicofa-row > * {
  flex-basis: 20rem;
  flex-shrink: 0;
}

.kemicofa-row .card {
  display: flex;
  flex-direction: column;
}

.kemicofa-row .card > .card-content {
  flex-grow: 1;
}

.kemicofa-row .card > .card-image {
  flex-basis: 20rem;
  flex-shrink: 0;
  overflow-y: hidden;
  background-color: white;
}

.body-anime {
  margin: 0;
  overflow-x: hidden;
}
/*SON İLGİ ALANLARIM SAYFASI*/

/*İLETİŞİM SAYFASI*/
.container {
  margin-top: 5rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.table input[type="submit"],
input[type="reset"] {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.iletisim-button {
  margin: 1rem;
  justify-content: center;
}
/*SON İLETİŞİM SAYFASI*/
